*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.pacifico-regular {
    font-family: "Pacifico";
    font-weight: 100;
    font-style: normal;
  }

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h1 {
    font-family: "Pacifico";
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 100;
    padding-bottom: 40px;
    display: inline-block;
    
}

h2 {
    font-family: "Pacifico";
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 100;
}

h3 {
    font-family: "Pacifico";
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

p {
    font-family: "Josefin Sans";
    text-transform: capitalize;
    font-size: 16px;
    padding-bottom: 10px;    
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

li {
    font-family: "Josefin Sans";
    font-size: 16px;
    line-height: 30px;  
}

/*******************Les variables ****************/

:root {
    --primary-color: #700548;
    --secondary-color: #000000;
    --tertiary-color: #FFFFFF;
    --quad-color: #7899D4;
    --heading-font: "Pacifico";
    --body-font: "Josefin Sans";
    --font-size-base: 16px;
}

/*******************La mise en page ****************/
body {
    display: flex;
    flex-direction: column;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/*******************Le header ****************/
header{
    width: 100%;
    height: 75px;
    padding: 0 5%;
    background-color: var(--primary-color);
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--tertiary-color);
}

#contact{
    border: #FFFFFF 1px solid;
    display: flex;
    align-items: center;
    margin: 0 10%;
}

#contact a{
    font-family: var(--body-font);
    font-size: 20px;
    color: #FFFFFF;
}

header .icone{
    width: 36px;
    height: 36px;
    margin-left: 15px;
}

header .icone img{
    width: 100%;
    height: 100%;
}

/*******************Le menu ****************/

.navbar {
    position: fixed;
    left: 0;
}

#menu {
    cursor: pointer;
    position: fixed !important;
    top: 50%;
    left: 0;
    rotate: 90deg;
    font-weight: bold;
    color: var(--secondary-color);
}

.nav-menu {
    position: fixed;
    top: 75px;
    left: -250px;
    width: 200px;
    height: 100vh;
    background-color: var(--secondary-color);
    padding: 20px;
    transition: transform 0.3s ease;
}

.nav-menu ul {
    list-style: none;
    margin: 30px;
    position: absolute;
    top: 35%;
}

.nav-menu ul li {
    margin-bottom: 15px;
}

.nav-menu ul li a {
    font-family: var(--body-font);
    font-size: 20px;
    color: var(--tertiary-color);
    text-decoration: none;
    display: block;
}

.nav-menu ul li a:hover {
    font-family: var(--body-font);
    font-size: 25px;
    display: inline-block;
    background: linear-gradient(to left, #7899D4,#700548, #E60461, #FFA54C);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-menu.active {
    transform: translateX(250px);
}
/******************Le main content*****************/

main {
    width: 100%;
    /* height: 100vh; */
    padding: 75px 0;
}
/******************Le footer****************/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-family: var(--body-font);
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: var(--tertiary-color);
}